<div class = "container">
			<h3>My blogs</h3>
			<p>{{blogtext}}</p>
			<table>
			<tr>
				<td>
					<div class = "card">
						<div class = "card-body">
							<h2 class="card-title">Blog 1</h2>
							<p class = "card-text">Text about blog 1. Text about blog 1. Text about blog 1. Text about blog 1</p>
							<a class = "card-link">Link to blog1</a>
							<img class = "card-img-top img-fluid" src = "./images/frame_blog.jpg"></img>
						</div>
					</div>
				</td>
				<td>
					<div class = "card">
						<div class = "card-body">
							<h2 class="card-title">Blog 2</h2>
							<p class = "card-text">Text about blog 2. Text about blog 2. Text about blog 2. Text about blog 2</p>
							<a class = "card-link">Link to blog2</a>
							<img class = "card-img-top img-fluid" src = "./images/frame_blog.jpg"></img>
						</div>
					</div>
				</td>
				<td>
					<div class = "card">
						<div class = "card-body">
							<h2 class="card-title">Blog 3</h2>
							<p class = "card-text">Text about blog 3. Text about blog 3. Text about blog 3. Text about blog 3</p>
							<a class = "card-link">Link to blog3</a>
							<img class = "card-img-top img-fluid" src = "./images/frame_blog.jpg"></img>
						</div>
					</div>
				</td>
			</tr>
			</table>
			
</div>