<div class = "container">
	<form name="loginform">
		
		<legend>Login to an existing account</legend>
			<div class="form-group">
				<input autocomplete="off" name = "email" class = "form-control" ng-model = "user.email" ng-required="true" type="email" placeholder="Email"></input>
				<p ng-show="loginform.email.$invalid && loginform.email.$touched">Please enter a valid email ID</p>
			</div>
			<div class="form-group">
				<input name = "pass" class = "form-control" ng-model = "user.password" ng-required="true" type="password" placeholder="Password"></input>
				<p ng-show="loginform.pass.$invalid && loginform.pass.$touched">Please enter a valid password</p>
			</div>		
		
	</form>		
</div>