<div class = "container">
	
		
			<form name="logonform" novalidate>

				<legend>Sign up for a new account</legend>
				<div class="form-group">						
					<input name = "fname" type="text" class="form-control" ng-required="true" placeholder="Enter your first name" ng-model="user.firstname">	
					<p ng-show="logonform.fname.$invalid && logonform.fname.$touched">This is a required field</p>
				</div>
				<div class="form-group">
					<input name = "lname" type="text" class="form-control" ng-required="true" placeholder="Enter your last name" ng-model="user.lastname"></input>
					<p ng-show="logonform.lname.$invalid && logonform.lname.$touched">This is a required field</p>
				</div>
				<div class="form-group">
					<input name = "email" type="email" class="form-control" ng-required="true" placeholder="Enter your Email ID" ng-model="user.email"></input>
					<p ng-show="logonform.email.$invalid && logonform.email.$touched">Please enter a valid email address</p>
				</div>
				<div class="form-group">
					<input name = "pass" type="password" class="form-control" ng-required="true" placeholder="Create a password" ng-model="user.password"></input>
					<p ng-show="logonform.pass.$invalid && logonform.pass.$touched">Please enter a valid password</p>
				</div>			
			</form>
		
</div>